# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:latest

    working_directory: ~/project

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "./starter-kit/package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: cd starter-kit && yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "./starter-kitpackage.json" }}

      # run linting
      - run: cd starter-kit && yarn lint

      # build
      - run: cd starter-kit && yarn build

      # run tests
      - run: cd starter-kit && yarn test
